
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(0deg, rgba(255,205,205,1) 0%, rgba(215,247,255,1) 100%);
    color: #fff;
    align-content: flex-end;
    text-align: center;
    height: 700px;
    padding: 4rem 0;
}

header h1{
    margin-bottom: 0%;
    font-size: 8rem;
}

.navbar {
    background-color: #ffe9e9;
}

.navbar-brand {
    color: #fff;
}



.container {
    padding: 2rem;
}

.text-center {
    text-align: center;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #333;
}

img {
    border-radius: 50%;
    border: 5px solid #ffd1dc;
}

#experiencia {
    padding: 2rem;
}

#experiencia strong{
    color: #d38f8f;
    font-weight: 600;
}

#experiencia h2 {
    color: #eeb0bf;
    font-size: 2rem;
    font-weight: 600;
}

.experiencia {
    border-radius: 0.5rem;
    padding: 1rem;
    color: #fff7f7;
}

.experiencia p {
    margin-bottom: 1rem;
    background-color: #ebc2c2;
    border-radius: 0.5rem;
    padding: 1rem;
}

footer {
    background: #ffebef;
    color: #d4a2ae;
    text-align: center;
    padding: 2rem;
}

footer a {
    color: #ff6f91;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #c77487;
}
