
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(0deg, rgb(255, 230, 234) 0%, rgb(255, 193, 224) 100%);
    color: #fff;
    text-align: center;
    padding: 4rem 0;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
}

.navbar {
    background-color: #ffd5df;
    
}

.navbar-brand {
    color: #fff;
}



.container {
    padding: 2rem;
}

.text-center {
    text-align: center;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #333;
}

img {
    border-radius: 50%;
    border: 5px solid #ffd1dc;
}

#experiencia {
    padding: 2rem;
}

#experiencia strong{
    color: #cc8596;
    font-weight: 500;
}

#experiencia h2 {
    color: #eeb0bf;
    font-size: 2rem;
    font-weight: 600;
}

.experiencia {
    border-radius: 0.5rem;
    padding: 1rem;
    color: #333;
}

.experiencia p {
    margin-bottom: 1rem;
    background-color: rgb(255, 230, 234);
    border: 1px solid #ddc0c7;
    border-radius: 0.5rem;
    padding: 1rem;
}

footer {
    background: #ffebef;
    color: #d4a2ae;
    text-align: center;
    padding: 2rem;
}

footer a {
    color: #ff6f91;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #c77487;
}
